#Import required libraries

In [16]:
import numpy as np
import pandas as pd

#Prep data

In [17]:
df = pd.read_csv('C:/Users/timho/Econ_Plan.csv', header=0)

In [18]:
df.head()

,fips,state,area_name,urban_or_rural,ue_rate_2015,ue_rate_2016,ue_rate_2017,ue_rate_2018,ue_rate_2019,avg_ue_rate_chg,high_ue,main_industry,fossil_fuel,hhi_2019
0,2270,AK,"Kusilvak Census Area, AK",rural,23.1,21.6,19.6,19.6,19.3,-1.0,yes,retail,no,"35,369"
1,6025,CA,"Imperial County, CA",urban,24.5,24.1,19.5,18.9,18.3,-1.6,yes,agriculture,no,"48,102"
2,4027,AZ,"Yuma County, AZ",urban,21.7,18.8,16.9,16.7,16.4,-1.3,yes,agriculture,no,"47,024"
3,28063,MS,"Jefferson County, MS",rural,14.8,14.9,14.6,13.2,15.5,0.2,yes,utilities,yes,"30,871"
4,2188,AK,"Northwest Arctic Borough, AK",rural,16.0,16.0,16.1,13.6,14.0,-0.5,yes,transportation,no,"61,660"

In [25]:
df.dtypes

area_name           object
urban_or_rural      object
ue_rate_2015       float64
ue_rate_2019       float64
avg_ue_rate_chg    float64
main_industry       object
fossil_fuel         object
dtype: object

In [26]:
df = df[['area_name', 'urban_or_rural', 'ue_rate_2015', 'ue_rate_2019', 'avg_ue_rate_chg', 'main_industry', 'fossil_fuel']]

In [27]:
df.head()

,area_name,urban_or_rural,ue_rate_2015,ue_rate_2019,avg_ue_rate_chg,main_industry,fossil_fuel
0,"Kusilvak Census Area, AK",rural,23.1,19.3,-1.0,retail,no
1,"Imperial County, CA",urban,24.5,18.3,-1.6,agriculture,no
2,"Yuma County, AZ",urban,21.7,16.4,-1.3,agriculture,no
3,"Jefferson County, MS",rural,14.8,15.5,0.2,utilities,yes
4,"Northwest Arctic Borough, AK",rural,16.0,14.0,-0.5,transportation,no

In [32]:
df.dtypes

area_name           object
urban_or_rural      object
ue_rate_2015       float64
ue_rate_2019       float64
avg_ue_rate_chg    float64
main_industry       object
fossil_fuel         object
dtype: object

#Filter and sort desired records

In [41]:
newdf = df[(df.ue_rate_2019 > 6.0) | (df.avg_ue_rate_chg > 0.0)]

In [42]:
newdf.head()

,area_name,urban_or_rural,ue_rate_2015,ue_rate_2019,avg_ue_rate_chg,main_industry,fossil_fuel
0,"Kusilvak Census Area, AK",rural,23.1,19.3,-1.0,retail,no
1,"Imperial County, CA",urban,24.5,18.3,-1.6,agriculture,no
2,"Yuma County, AZ",urban,21.7,16.4,-1.3,agriculture,no
3,"Jefferson County, MS",rural,14.8,15.5,0.2,utilities,yes
4,"Northwest Arctic Borough, AK",rural,16.0,14.0,-0.5,transportation,no